

a{

    text-decoration: none;
    margin-left: 2rem;
}


.get{

    color:goldenrod;
    text-decoration: underline;
}

.under{

    color:red;
    font-weight: 500;
}


h1{
 
  text-align: center;
}

p{
    margin-left: 2rem;
}

.container{

      width:50%;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50vh 50vh 50vh;
      margin:20px auto;
      
}


.main{
   
     width:50%;
     margin:0px auto;
     background-color: rgb(182, 180, 180);
     padding:15px;
     margin-bottom: 30px;
}


.list{
    margin:20px auto;
    background-color: white;
    padding:10px;  
}


.list p{

    padding:0px;
    margin:0px;

}

.btn{

   padding:3px 25px;
   margin-left: 5px;
   cursor:pointer;  
}


.design{

    background-color: green;
    color:black;
    padding:2px 6px;
    font-weight: bold;
}

.back-to-home{
  
    background-color: black;
    color:white;
    padding:10px 300px;
    font-size: 20px;
}

.home-div{
    text-align: center;
    margin-bottom: 40px;
}

form{
  
     width:30vw;
     margin:10px auto;
     padding:20px;     
     font-size: 16px;
}

.input-cont{

      margin-bottom: 17px;
}


.label-1{

    margin-left: 23px;
}


.email, .password{

      width:80%;
      padding:3px;
      font-size: 20px;
      outline:none;
      background-color:rgb(168, 168, 243);
    
}

.btn-inp{
      
    width: 80%;
    padding: 7px;
    margin-left:70px;  
    font-size: 16px;  
    font-weight: bold;
    background-color:rgb(255, 167, 5);
    color:white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}


